@using Mvc.CascadeDropDown;
@model VolunteerSystem.Models.ResWarehouses

@{
    ViewBag.Title = "Пожертвувати";
}

<h2>Пожертвувати</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ResourceInfoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ResourceInfoId, (IEnumerable<SelectListItem>)ViewBag.resList,
                            "-- Виберіть ресурс --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ResourceInfoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Count, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WarehouseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CascadingDropDownListFor(
                    expression: m => m.WarehouseId,
                    triggeredByProperty: m => m.ResourceInfoId,
                    url: Url.Action("GetWH", "Home"),
                    ajaxActionParamName: "resourceId",
                    optionLabel: "-- Виберіть склад --",
                    disabledWhenParrentNotSelected: true,
                    htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WarehouseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Пожертвувати" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("На головну", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
